<!--  <section>-->
<!--    <div #services class="relative">-->
<!--      <div class="grid grid-cols-1 mobile:grid-cols-2 w-11/12 m-auto gap-4 pt-64">-->

<!--        <div class="gBox min-w-5 min-h-52">-->
<!--          <h3 class="service_title gradientText text-3xl p-4">Landing pages</h3>-->
<!--          <div class="gBoxInner mt-4 relative">-->
<!--            <p>Una Landing Page es una página web diseñada específicamente para convertir visitantes en leads o clientes potenciales. Es un elemento clave en la estrategia de marketing digital de cualquier pequeño negocio.Ventajas de tener una Landing Page:</p>-->
<!--            <p>Una Landing Page bien diseñada puede captar la atención de tus visitantes y motivarlos a proporcionar información de contacto, convirtiéndolos en clientes potenciales para tu negocio.</p>-->
<!--            <p class="w-3/4">Esta es una herramienta poderosa para pequeños negocios que desean aumentar sus conversiones y mejorar su presencia en línea.</p>-->
<!--            <img src="assets/img/plane_web_dev.webp" class="absolute -right-10 -bottom-16 w-52 h-52 object-contain">-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="gBox min-w-5 min-h-52">-->
<!--          <h3 class="service_title gradientText2 text-3xl p-4 text-end">Web sites</h3>-->
<!--          <div class="gBoxInner mt-4 relative">-->
<!--            <p>Un sitio web completo es una plataforma en línea que abarca múltiples páginas y funcionalidades para promover un negocio o una marca de manera integral.-->
<!--              Ventajas de tener un Sitio Web Completo:</p>-->
<!--            <p>Un sitio web completo proporciona una plataforma robusta para presentar tu negocio de manera profesional y ofrecer información detallada sobre tus productos o servicios.</p>-->
<!--            <p class="rAdjustRight">Un sitio web completo te permite integrar herramientas y funcionalidades adicionales, como formularios de suscripción, chat en vivo, e-commerce y mucho más</p>-->
<!--            <img src="assets/img/pc_web_dev.webp" class="absolute -left-10 -bottom-12 w-48 h-48 object-contain">-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="gBox min-w-5 min-h-52">-->
<!--          <h3 class="service_title gradientText3 text-3xl p-4">Web-apps</h3>-->
<!--          <div class="gBoxInner mt-4 relative">-->
<!--            <p class="w-3/4">Una Web App es una aplicación basada en web que se accede a través de un navegador web y ofrece funcionalidades similares a las de una aplicación móvil o de escritorio.</p>-->
<!--            <p>Una Web App se puede acceder desde cualquier dispositivo con un navegador web, lo que permite a los usuarios utilizar la aplicación sin necesidad de descargar o instalar software adicional.</p>-->
<!--            <p>Las web-apps se ejecutan en la nube lo que significa que reciben actualizaciones y mejoras instantaneas para todos los usuarios lo que garantiza que tus clientes siempre utilizarán la última versión de la web-app</p>-->
<!--            <img src="assets/img/phone_web_dev.webp" class="absolute -right-10 -top-24 w-52 h-52 object-contain">-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="gBox min-w-5 min-h-52">-->
<!--          <h4 class="service_title gradientText4 text-4xl text-end p-4">E-commerce</h4>-->
<!--          <div class="gBoxInner mt-4 relative">-->
<!--            <p class="rAdjustRight">Un E-commerce es una plataforma en línea que permite a los usuarios comprar y vender productos o servicios de manera electrónica.</p>-->
<!--            <p>Con un E-commerce, puedes alcanzar a clientes potenciales en todo el mundo, rompiendo las barreras geográficas y expandiendo el alcance de tu negocio. Además, la disponibilidad de esta es de 24/7.</p>-->
<!--            <p>Puedes ofrecer una experiencia de compra personalizada a tus clientes, recomendando productos relevantes, ofreciendo promociones exclusivas y facilitando la navegación a través de categorías y filtros.</p>-->
<!--            <img src="assets/img/shop_web_dev.webp" class="absolute -left-10 -top-20 w-48 h-48 object-contain ">-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->
<!--  </section>-->

<section class="__privacyCont">
  <div class="col-white texte_inselectionnable direction_ltr">

    <p class="title font-bold w-max mx-auto">{{ "privacy.title"|translate }}</p>
    <p>{{ "privacy.p1"|translate }}<strong><span> Codeli Studio</span></strong> {{ "privacy.p2"|translate }}</p>
    <br>
    <p><strong>Codeli Studio </strong>{{ "privacy.p3"|translate }}</p>
    <p>{{ "privacy.p4"|translate }}{{ "privacy.p5"|translate }}</p>
    <br>
    <p><span>Saltillo Coahuila</span></p>
    <br>
    <p>{{ "privacy.p6"|translate }}</p>
    <!--    <br>-->
    <ul>
      <li><p><strong>{{ "privacy.p7"|translate }}</strong></p></li>
      <li><p><strong>{{ "privacy.p8"|translate }}</strong></p></li>
      <li><p><strong>{{ "privacy.p9"|translate }}</strong></p></li>
    </ul>
    <!--    <br>-->
    <p>{{ "privacy.p10"|translate }}</p>
    <!--    <br>-->
    <ul>
      <li><p><strong>{{ "privacy.p11"|translate }}</strong></p></li>
      <li><p><strong>{{ "privacy.p12"|translate }}</strong></p></li>
      <li><p><strong>{{ "privacy.p13"|translate }}</strong></p></li>
      <li><p><strong>{{ "privacy.p14"|translate }}</strong></p></li>
      <li><p><strong>{{ "privacy.p15"|translate }}</strong></p></li>
      <li><p><strong>{{ "privacy.p16"|translate }}</strong></p></li>
    </ul>
    <!--    <br>-->
    <p>{{ "privacy.p17"|translate }}</p>
    <br>
    <p>{{ "privacy.p18"|translate }}</p>
    <br>
    <p>{{ "privacy.p19"|translate }}</p>
    <br>
    <p><span>www.codeli-studio.com</span></p>
    <br>
    <p>{{ "privacy.p20"|translate }}</p>
    <ul>
      <li><p><strong>{{ "privacy.p21"|translate }}</strong></p></li>
      <li><p><strong>{{ "privacy.p22"|translate }}</strong></p></li>
      <li><p><strong>{{ "privacy.p23"|translate }}</strong></p></li>
    </ul>
    <!--    <br>-->
    <p>{{ "privacy.p24"|translate }}</p>
    <br>
    <p><span>{{ "privacy.p25"|translate }}</span></p>
    <br>
    <p>{{ "privacy.p26"|translate }}</p>
    <!--    <br>-->
    <ul>
      <li><p><strong>{{ "privacy.p27"|translate }}</strong></p></li>
      <li><p><strong>{{ "privacy.p28"|translate }}</strong></p></li>
      <li><p><strong>{{ "privacy.p29"|translate }}</strong></p></li>
      <li><p><strong>{{ "privacy.p30"|translate }}</strong></p></li>
    </ul>
    <!--    <br>-->
    <!--    <p style="text-align: left; padding-left: 30px;">a) Nombre del responsable: <span-->
    <!--      id="span_id_departamento_responsable_arco">Departamento de atención al cliente</span></p>-->
    <!--    <p style="text-align: left; padding-left: 30px;">b) Domicilio:</p>-->
    <!--    <p style="text-align: left; padding-left: 60px;"><span id="span_id_dom_departamento_responsable_arco">Saltillo Coahuila CP 25084</span>-->
    <!--    </p>-->
    <!--    <p style="text-align: left; padding-left: 30px;">c) Teléfono: <span id="span_id_tel_departamento_responsable_arco">8441736993</span>-->
    <!--    </p>-->
    <!--    <p style="text-align: left; padding-left: 30px;">d) Otro medio de contacto: <span-->
    <!--      id="span_id_opcional_otro_medio_de_contacto_departamento_responsable_arco">www.codeli-studio.com</span></p>-->
    <p>{{ "privacy.p31"|translate }}</p>
    <p>{{ "privacy.p32"|translate }}</p>
    <p><span>www.codeli-studio.com</span></p>
    <br>
    <p>{{ "privacy.p33"|translate }}</p>
    <!--    <br>-->
    <ul>
      <li><p><strong>{{ "privacy.p34"|translate }}</strong></p></li>
      <li><p><strong>{{ "privacy.p35"|translate }}</strong></p></li>
      <li><p><strong>{{ "privacy.p36"|translate }}</strong></p></li>
    </ul>
    <!--    <br>-->
    <p>{{ "privacy.p37"|translate }}</p>
    <br>
    <p><span>{{ "privacy.p38"|translate }}</span>
    </p>
    <p>{{ "privacy.p39"|translate }}</p>
    <p><span>www.codeli-studio.com/privacy</span>
    </p>
    <br>
    <br>
    <p>{{ "privacy.lastUpdate"|translate }}</p>
    <p><span class="encours">01/03/2024</span></p>
  </div>
</section>

@defer (on viewport) {
  <app-footer/>
} @placeholder {
  <app-loader/>
}

