<section class="footerCont">

  <div class="footerItem A0">
    <div class="A0BG"></div>
    <div class="ctaFooter">
      <h2 class="footer_h2">{{"Footer.workInTogether"|translate}}</h2>
      <p class="footer_p">{{"Footer.desc"|translate}}</p>
      <button mat-flat-button class="blueButton" (click)="goTo('contact-us')"><p>{{"Footer.cta" | translate}}</p></button>
    </div>
  </div>

  <div class="footerItem B0">
    <h2 class="footer_h2">{{"Footer.services"|translate}}</h2>
    <div class="mt-4">
      <p class="footer_p" (click)="goTo('web-development')">{{"Toolbar.dev_web"|translate}}</p>
      <p class="footer_p" (click)="goTo('ui-ux')">UI & UX</p>
      <p class="footer_p" (click)="goTo('approach-landing')">{{"Toolbar.planning"|translate}}</p>
      <p class="footer_p">{{"Toolbar.consulting"|translate}}</p>
    </div>
  </div>

  <div class="footerItem C0">
    <h3 class="footer_h2">{{"Footer.resources"|translate}}</h3>
    <div class="">
      <p class="footer_p"(click)="goTo('blog')">Blog</p>
      <p class="footer_p" (click)="goTo('portfolio')">{{"Toolbar.portfolio"|translate}}</p>
    </div>
  </div>

  <div class="footerItem D0">
    <h3 class="footer_h2">{{"Footer.company"|translate}}</h3>
    <div class="">
      <p class="footer_p" (click)="goTo('about-us')" >{{"Toolbar.about"|translate}}</p>
      <p class="footer_p" (click)="goTo('privacy')">{{"Footer.privacity"|translate}}</p>
    </div>
  </div>

  <div class="footerItem E0">
    <p class="copy">Copyright © 2024 Codeli Studio</p>
  </div>

</section>
