<section class="countersCont">
  <div class="counters">

    <div class="counter">
      <h2 class="">80%</h2>
      <p class="">Client retention</p>
    </div>

    <div class="counter">
      <h2 class="">5</h2>
      <p class="">Years of Service</p>
    </div>

    <div class="counter">
      <h2 class="">15+</h2>
      <p class="">Programming Technologies</p>
    </div>

    <div class="counter">
      <h2 class="">221+</h2>
      <p class="">Satisfied Clients</p>
    </div>

  </div>
</section>


<!--<section id="countersWebCont" class="globalCounters flex justify-center content-center w-full min-h-max mt-32 mb-8">-->
<!--  <div class="w-10/12 h-auto flex gap-8 flex-wrap justify-center content-center p-4 counters">-->

<!--    <div class="counter relative">-->
<!--      <h2 class="font-bold text-center text-8xl">+25%</h2>-->
<!--      <p class="text-center max-w-40">por un diseño eficaz de UI/UX</p>-->
<!--    </div>-->

<!--    <div class="counter relative">-->
<!--      <h2 class="font-bold text-center text-8xl">-50%</h2>-->
<!--      <p class="text-center max-w-40">de abandono en e-commerce </p>-->
<!--    </div>-->

<!--    <div class="counter relative">-->
<!--      <h2 class="font-bold text-center text-8xl">+40%</h2>-->
<!--      <p class="text-center max-w-40">de satisfacción para tus clientes</p>-->
<!--    </div>-->

<!--    <div class="counter relative">-->
<!--      <h2 class="font-bold text-center text-8xl">+70%</h2>-->
<!--      <p class="text-center max-w-48">de aumentó en la confianza de tus clientes</p>-->
<!--    </div>-->

<!--  </div>-->
<!--</section>-->
