<section class="globalHeader technosCont">

  <!--  <img alt="" loading="lazy" class="bgHead msh_01" ngSrc="../../../assets/img/msh_01.webp" alt=""/>-->
  <!--  <img alt="" loading="lazy" class="bgHead msh_02" ngSrc="../../../assets/img/msh_02.webp" alt=""/>-->
  <div class="mask"></div>

  <h2>{{ "technos.title" | translate }}</h2>

  <img
    priority
    ngSrc="techs.webp"

    sizes="(max-width: 757px) 300px, (max-width: 1200px) 60vw, 50vw"

    width="width"
    height="height"
    decoding="sync"
    class="techImg" alt=""/>

</section>
