<section class="headerDataRoute" #portfolioRef>

  <img
    priority
    ngSrc="world.webp"
    sizes="(max-width: 500px) 150px, 1200px"
    width="width"
    height="height"
    decoding="sync"
    class="world" alt=""/>

  <section class="headerRouteDat">
    <div class="ann_cont_Route"><h2 class="header_h1_Route gradientText2">{{ "HeaderMain.title" | translate }}</h2>
    </div>
    <h2 class="header_h2_Route">{{ "portfolio.title"|translate }} <span
      class="gradientText"> {{ "portfolio.title2"|translate }} </span>.</h2>
    <p class="header_p_Route">{{ "portfolio.desc"|translate }}</p>
  </section>

</section>
