.custom-loader {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: var(--globalBg);
}
//@keyframes animate {
//  0% {
//    background-position: 0 0;
//  }
//  50% {
//    background-position: 300% 0;
//  }
//  100% {
//    background-position: 0 0;
//  }
//}
