<section class="headerData">
  <div class="triggerHead"></div>

  <div class="annotation_cont"><h2 class="header_h1 gradientText2">{{ "HeaderMain.title" | translate }}</h2></div>

  <h2 class="header_h2">{{ "HeaderMain.t1"|translate }}

    <div class="wrapperHead">
      <h2> {{ "HeaderMain.t2A"|translate }} </h2>
      <h2> {{ "HeaderMain.t2B"|translate }} </h2>
      <h2> {{ "HeaderMain.t2C"|translate }} </h2>
      <h2> {{ "HeaderMain.t2D"|translate }} </h2>
      <h2> {{ "HeaderMain.t2E"|translate }} </h2>
      <h2> {{ "HeaderMain.t2F"|translate }} </h2>
      <h2> {{ "HeaderMain.t2G"|translate }} </h2>
    </div>

  </h2>


  <h2 class="header_h2">{{ "HeaderMain.t3"|translate }}</h2>

  <p class="header_p">{{ "HeaderMain.desc"|translate }}</p>

  <div class="headerActions">
    <button mat-button class="blueButton" (click)="goTo('contact-us')"><p>{{ "HeaderMain.contactUs"|translate }}</p>
    </button>
    <button mat-button class="clearButton" (click)="goTo('approach-landing')">
      <p>{{ "HeaderMain.checkApproach"|translate }}</p></button>
  </div>
</section>
