<section class="wframingCont">

  <div class="wframingInner">
    <!-- GlobalBox Gray-->
    <p class="gradientText wFramingSubtitle">{{ "uiux.wireframing.subtitle"|translate }}</p>
    <h3 class="wireframing_H2">{{ "uiux.wireframing.title"|translate }}</h3>
    <p class="wireframing_P">{{ "uiux.wireframing.desc"|translate }}</p>
    <p class="wireframing_P">{{ "uiux.wireframing.desc2"|translate }}</p>
  </div>

  <img ngSrc="wireframing.webp"
       class="wframingImg"
       sizes="(max-width: 400px) 80vw, (max-width: 1200px) 85vw, 90vw"
       height="height" width="width">
</section>
