@defer (on viewport) {
  <app-main-header/>
} @placeholder {
  <app-loader/>
}
@defer (on viewport) {
  <app-consulting-introduce/>
} @placeholder {
  <app-loader/>
}
@defer (on viewport) {
  <app-consultancy-business/>
} @placeholder {
  <app-loader/>
}
@defer (on viewport) {
  <app-consulting-counters/>
} @placeholder {
  <app-loader/>
}
@defer (on viewport) {
  <app-consulting-needs/>
} @placeholder {
  <app-loader/>
}
@defer (on viewport) {
  <app-consulting-us/>
} @placeholder {
  <app-loader/>
}
@defer (on viewport) {
  <app-contact/>
} @placeholder {
  <app-loader/>
}
@defer (on viewport) {
  <app-footer/>
} @placeholder {
  <app-loader/>
}
