<!--<section class="headerDataRoute">-->
<!--&lt;!&ndash;  <img&ndash;&gt;-->
<!--&lt;!&ndash;    priority&ndash;&gt;-->
<!--&lt;!&ndash;    ngSrc="world.webp"&ndash;&gt;-->
<!--&lt;!&ndash;    sizes="(max-width: 400px) 100vw, (max-width: 1200px) 85vw, 100vw"&ndash;&gt;-->
<!--&lt;!&ndash;    width="width"&ndash;&gt;-->
<!--&lt;!&ndash;    height="height"&ndash;&gt;-->
<!--&lt;!&ndash;    decoding="sync"&ndash;&gt;-->
<!--&lt;!&ndash;    class="world" alt="" />&ndash;&gt;-->

<!--&lt;!&ndash;  <section class="headerRouteDat">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="ann_cont_Route"><h2 class="header_h1_Route gradientText2">{{"HeaderMain.title" | translate}}</h2></div>&ndash;&gt;-->
<!--&lt;!&ndash;    <h2 class="header_h2_Route">Descubre cómo transformamos ideas en éxitos digitales: <span class="gradientText"> Nuestro Portafolio</span>.</h2>&ndash;&gt;-->
<!--&lt;!&ndash;    <p class="header_p_Route">En nuestro portafolio, te invitamos a sumergirte en un mundo de innovación y excelencia digital. Desde startups hasta empresas consolidadas, hemos tenido el privilegio de colaborar con una amplia gama de clientes, ayudándoles a convertir sus visiones en realidad.</p>&ndash;&gt;-->
<!--&lt;!&ndash;  </section>&ndash;&gt;-->

<!--</section>-->
@defer (on viewport){<app-contact/>} @placeholder {<app-loader/>}

