<section class="centerFlexItems approachCardsCont">
  <!-- CARD01 -->
  <section class="centerFlexItems approachCard">
    <img class="imgApproachStep imgApproachStep01" ngSrc="approach_discover.webp"
         loading="lazy" alt="" width="width" height="height" sizes="80%"/>

    <div class="centerFlexItems innerApproachCard">

      <div class="cardHeader">
        <div class="ann_cont_Route">
          <h3 class="gradientText2 nums">1</h3>
        </div>

        <div>
          <p class="ann_cont ann_cont1 approachAnnotation">{{ "simpleApproach.card1subtitle"|translate }}</p>
          <h2 class="approach_h2">{{ "simpleApproach.card1title1"|translate }}
            <strong>{{ "simpleApproach.card1title2"|translate }}</strong>, {{ "simpleApproach.card1title3"|translate }}
            <strong>{{ "simpleApproach.card1title4"|translate }}</strong> {{ "simpleApproach.card1title5"|translate }}
            <strong>{{ "simpleApproach.card1title6"|translate }}</strong>.</h2>
        </div>

      </div>
    </div>
  </section>

  <!-- CARD02 -->
  <section class="centerFlexItems approachCard">
    <img class="imgApproachStep imgApproachStep02"
         ngSrc="approach_definition.webp"
         loading="lazy" alt="" width="width" height="height"
         sizes="80%"/>

    <div class="innerApproachCard centerFlexItems">

      <div class="cardHeader">
        <div class="ann_cont_Route">
          <h3 class="gradientText2 nums">2</h3>
        </div>

        <div>
          <p class="ann_cont ann_cont2 approachAnnotation">{{ "simpleApproach.card2subtitle"|translate }}</p>
          <h2 class="approach_h2">{{ "simpleApproach.card2title1"|translate }}
            <strong>{{ "simpleApproach.card2title2"|translate }}</strong> {{ "simpleApproach.card2title3"|translate }}
          </h2>
        </div>
      </div>
    </div>

  </section>
  <!-- CARD03 -->
  <section class="centerFlexItems approachCard">
    <img class="imgApproachStep imgApproachStep03"
         ngSrc="approach_build.webp"
         loading="lazy" alt="" width="width" height="height"
         sizes="80%"/>

    <div class="innerApproachCard centerFlexItems">

      <div class="cardHeader">
        <div class="ann_cont_Route">
          <h3 class="gradientText2 nums">3</h3>
        </div>

        <div>
          <p class="ann_cont ann_cont3 approachAnnotation">{{ "simpleApproach.card3subtitle"|translate }}</p>
          <h2 class="approach_h2">{{ "simpleApproach.card3title1"|translate }}
            <strong>{{ "simpleApproach.card3title2"|translate }}.</strong></h2>
        </div>
      </div>
    </div>
  </section>

</section>
