<section class="centerFlexItems approachCardsCont">
  <!-- CARD01 -->
  <section class="centerFlexItems approachCard">
    <img class="imgApproachStep imgApproachStep01" ngSrc="approach_discover.webp"
         loading="lazy" alt="" width="width" height="height" sizes="100%"/>

    <div class="centerFlexItems innerApproachCard">

      <div class="cardHeader">
        <div class="ann_cont_Route"><h3 class="gradientText2 nums">1</h3></div>

        <div>
          <p class="ann_cont ann_cont1 approachAnnotation">Discovery</p>
          <h2 class="approach_h2">{{ "_approachCards.title1"|translate }}<span
            class="gradientText"> {{ "_approachCards.title2"|translate }}</span> {{ "_approachCards.title3"|translate }}
          </h2>
        </div>

      </div>

      <p class="approach_resume">
        {{ "_approachCards.desc"|translate }}
        <br/><br/>
      </p>

      
      <ul class="approach_resume">
        <li><p>{{ "_approachCards.desc_a"|translate }}</p></li>
        <li><p>{{ "_approachCards.desc_b"|translate }}</p></li>
        <li><p>{{ "_approachCards.desc_c"|translate }}</p></li>
        <li><p>{{ "_approachCards.desc_d"|translate }}</p></li>
      </ul>
    </div>


  </section>

  <!-- CARD02 -->
  <section class="centerFlexItems approachCard">
    <img class="imgApproachStep imgApproachStep02" ngSrc="approach_definition.webp"
         loading="lazy" alt="" width="width" height="height" sizes="100%"/>

    <div class="innerApproachCard centerFlexItems">

      <div class="cardHeader">
        <div class="ann_cont_Route"><h3 class="gradientText nums">2</h3></div>

        <div>
          <p class="ann_cont ann_cont2 approachAnnotation">{{ "simpleApproach.card2subtitle"|translate }}</p>
          <h2 class="approach_h2">{{ "simpleApproach.card2title1"|translate }} <span
            class="gradientText">{{ "simpleApproach.card2title2"|translate }}</span> {{ "simpleApproach.card2title3"|translate }}
          </h2>
        </div>
      </div>

      <p>{{ "_approachCards2.desc"|translate }}
        <br/><br/>
      </p>


      <ul class="approach_resume">
        <li><p>{{ "_approachCards2.desc_a"|translate }}</p></li>
        <li><p>{{ "_approachCards2.desc_b"|translate }}</p></li>
      </ul>

    </div>

  </section>
  <!-- CARD03 -->
  <section class="centerFlexItems approachCard">
    <img class="imgApproachStep imgApproachStep03" ngSrc="approach_build.webp"
         loading="lazy" alt="" width="width" height="height" sizes="100%"/>

    <div class="innerApproachCard centerFlexItems">

      <div class="cardHeader">
        <h3 class="gradientText3 nums">3</h3>

        <div>
          <p class="ann_cont ann_cont3 approachAnnotation">{{ "simpleApproach.card3subtitle"|translate }}</p>
          <h2 class="approach_h2">{{ "simpleApproach.card3title1"|translate }} <span
            class="gradientText">{{ "simpleApproach.card3title2"|translate }}</span></h2>
        </div>
      </div>

      <p class="approach_resume">{{ "_approachCards3.desc"|translate }}
        <br/><br/>
      </p>

      <ul class="approach_resume">
        <li><p>{{ "_approachCards3.desc_a"|translate }}</p></li>
        <li><p>{{ "_approachCards3.desc_b"|translate }}</p></li>
        <li><p>{{ "_approachCards3.desc_c"|translate }}</p></li>
      </ul>
    </div>
  </section>

  <!--  <section class="approachCard">-->
  <!--    <div class="approachBox gBox">-->

  <!--      <div class="innerApproachCard">-->
  <!--        <div class="headNum">-->
  <!--          <h3 class="gradientText2 nums">4</h3>-->
  <!--        </div>-->
  <!--        <div class="headDat">-->
  <!--          <p class="approach_p">Finally</p>-->
  <!--          <h2 class="approach_h2">Desde la Concepción hasta la <span class="gradientText">Implementación</span></h2>-->
  <!--        </div>-->
  <!--      </div>-->

  <!--      <div class="innerBoxApproach mt1">-->
  <!--        <p class="approach_resume">-->
  <!--          Después de establecer objetivos y diseñar un plan, es momento de trazar la estrategia. Trabajamos codo a codo contigo, investigando tus experiencias y datos de usuario para desarrollar un plan detallado y un cronograma preciso.-->
  <!--          <br/><br/>-->
  <!--          Estrategias digitales adaptadas a las necesidades específicas de tu empresa.-->
  <!--          Definición precisa del alcance del proyecto para evitar desviaciones.-->
  <!--          Desarrollo de conceptos innovadores y prácticos.-->
  <!--          Identificación clara de tu audiencia objetivo para una comunicación efectiva.-->
  <!--        </p>-->
  <!--      </div>-->

  <!--      <img ngSrc="config.webp" class="imgApproachStep imgApproachStep04"-->
  <!--           loading="lazy" alt="" width="width" height="height"-->
  <!--           sizes="(max-width: 400px) 100px, (max-width: 1200px) 300px, 750px"/>-->
  <!--    </div>-->

  <!--  </section>-->

</section>
