<!--<section  class="headerDataRoute globalHeader">-->
<!--  <img class="worldRoute"-->
<!--       ngSrc="head_bg.webp" alt="" width="width" height="height"-->
<!--       sizes="(max-width: 400px) 85vw, (max-width: 1200px) 60vw, 85vw"/>-->

<!--  <section class="headerDataInnerRoute">-->
<!--    <h2 class="header_h2_Route">En todo lo que hacemos, <span class="gradientText">priorizamos la atención</span> y el cuidado en cada detalle.</h2>-->
<!--    <p class="header_p_Route">{{"approach_landing.desc"|translate}}</p>-->
<!--  </section>-->

<!--</section>-->

<section class="headerDataRoute">
  <img
    ngSrc="lines_map.webp"
    sizes="(max-width: 400px) 100vw, (max-width: 1200px) 85vw, 100vw"
    width="width"
    height="height"
    class="headerRouteImg" alt=""/>

  <section class="headerRouteDat">
    <div class="ann_cont_Route"><h2 class="header_h1_Route gradientText2">{{ "_approach.subtitle" | translate }}</h2>
    </div>
    <h2 class="header_h2_Route">{{ "_approach.title1" |translate }}<span
      class="gradientText"> {{ "_approach.title2" |translate }} </span> {{ "_approach.title3" |translate }} <span
      class="gradientText"> {{ "_approach.title4" |translate }} </span> {{ "_approach.title5" |translate }}.</h2>
    <p class="header_p_Route">{{ "_approach.desc"|translate }}</p>
  </section>

</section>
