<section class="strengthMain">

  <div class="strength centerFlexItems">
    <img class="strength_img" ngSrc="colaboration.webp" alt="Colaboration_codeli" width="width" height="height"
         sizes="(max-width: 400px) 100px, (max-width: 1200px) 300px, 750px">
    <h2>{{ "strength.title1"|translate }}</h2>
    <p>{{ "strength.desc1"|translate }}</p>
  </div>

  <div class="strength centerFlexItems">
    <img class="strength_img" ngSrc="architecture.webp" alt="Adaptability_dev" width="width" height="height"
         sizes="(max-width: 400px) 100px, (max-width: 1200px) 300px, 750px"/>
    <h2>{{ "strength.title2"|translate }}</h2>
    <p>{{ "strength.desc2"|translate }}</p>
  </div>

  <div class="strength centerFlexItems">
    <img class="strength_img" ngSrc="innovation.webp" alt="innovation_dev" width="width" height="height"
         sizes="(max-width: 400px) 100px, (max-width: 1200px) 300px, 750px">
    <h2>{{ "strength.title3"|translate }}</h2>
    <p>{{ "strength.desc3"|translate }}</p>
  </div>

  <div class="strength centerFlexItems">
    <img class="strength_img" ngSrc="empathy.webp" alt="empathy_dev" loading="lazy" width="width" height="height"
         sizes="(max-width: 400px) 100px, (max-width: 1200px) 300px, 750px">
    <h2>{{ "strength.title4"|translate }}</h2>
    <p>{{ "strength.desc4"|translate }}</p>
  </div>

  <div class="strength centerFlexItems">
    <img class="strength_img" ngSrc="excelence.webp" alt="empathy_dev" loading="lazy" width="width" height="height"
         sizes="(max-width: 400px) 100px, (max-width: 1200px) 300px, 750px">
    <h2>{{ "strength.title5"|translate }}</h2>
    <p>{{ "strength.desc5"|translate }}</p>
  </div>
</section>
