<section class="webServicesCont">

  <div class="webServiceItem">
    <img
      ngSrc="web_service_graph.webp"
      sizes="100%"
      width="width"
      height="height"
      class="wsImg" alt=""/>
  </div>

  <div class="webServiceItem">
    <div class="headerAnn ann_cont annPurple">
      <mat-icon>category</mat-icon>
      <p class="headerAnn_p">{{ "strategyService.s1.slogan"|translate }}</p>
    </div>

    <div class="centerFlexItems wsTitle">
      <h2>{{ "strategyService.s1.title"|translate }}</h2>
    </div>
    <p>{{ "strategyService.s1.desc1"|translate }}</p>
  </div>

  <div class="webServiceItem">
    <img
      ngSrc="web_service_coding.webp"
      sizes="100%"
      width="width"
      height="height"
      class="wsImg" alt=""/>
  </div>

  <div class="webServiceItem">
    <div class="headerAnn ann_cont annBlue">
      <mat-icon>trending_up</mat-icon>
      <p class="headerAnn_p">{{ "strategyService.s2.slogan"|translate }}</p>
    </div>

    <div class="centerFlexItems wsTitle">
      <h2>{{ "strategyService.s2.title"|translate }}</h2>
    </div>
    <p>{{ "strategyService.s2.desc1"|translate }}</p>
  </div>

  <div class="webServiceItem">
    <img
      ngSrc="web_service_security.webp"
      sizes="100%"
      width="width"
      height="height"
      class="wsImg" alt=""/>
  </div>

  <div class="webServiceItem">
    <div class="headerAnn ann_cont annGreen">
      <mat-icon>code</mat-icon>
      <p class="headerAnn_p">{{ "strategyService.s3.slogan"|translate }}</p>
    </div>

    <div class="centerFlexItems wsTitle">
      <h2>{{ "strategyService.s3.title"|translate }}</h2>
    </div>
    <p>{{ "strategyService.s3.desc1"|translate }}</p>
  </div>

  <div class="webServiceItem">
    <img
      ngSrc="web_service_imcomes.webp"
      sizes="100%"
      width="width"
      height="height"
      class="wsImg" alt=""/>
  </div>

  <div class="webServiceItem">
    <div class="headerAnn ann_cont annYellow">
      <mat-icon>lock</mat-icon>
      <p class="headerAnn_p">{{ "strategyService.s4.slogan"|translate }}</p>
    </div>

    <div class="centerFlexItems wsTitle">
      <h2>{{ "strategyService.s4.title"|translate }}</h2>
    </div>
    <p>{{ "strategyService.s4.desc1"|translate }}</p>
  </div>

</section>
