<div class="__consultingUSCont">

  <img
    ngSrc="meeting.webp"
    sizes="100%"
    width="width"
    height="height"
    class="_meeting" alt=""/>

  <div class="dataConsultingUs">
    <h2 class="title">{{ "ConsultingUs.title"|translate }}</h2>
    <p class="title">{{ "ConsultingUs.desc"|translate }}</p>

    <div class="consultingUsReasons">
      <ul class="reasonListA">
        <li class="reason"><p>
          <strong>{{ "ConsultingUs.reasons.t1"|translate }}</strong> {{ "ConsultingUs.reasons.d1"|translate }}</p></li>
        <li class="reason"><p>
          <strong>{{ "ConsultingUs.reasons.t2"|translate }}</strong> {{ "ConsultingUs.reasons.d2"|translate }}</p></li>
        <li class="reason"><p>
          <strong>{{ "ConsultingUs.reasons.t3"|translate }}</strong> {{ "ConsultingUs.reasons.d3"|translate }}</p></li>
      </ul>

      <ul class="reasonListB">
        <li class="reason"><p>
          <strong>{{ "ConsultingUs.reasons.t4"|translate }}</strong> {{ "ConsultingUs.reasons.d4"|translate }}</p></li>
        <li class="reason"><p>
          <strong>{{ "ConsultingUs.reasons.t5"|translate }}</strong> {{ "ConsultingUs.reasons.d5"|translate }}</p></li>
      </ul>
    </div>
  </div>


</div>
