<section class="webDevService">

  <h2 class="wsTitle gradientText4">{{ "WebDev.desc"|translate }}</h2>
  <!--  <p class="wsDesc">{{ "WebDev.desc"|translate }}</p>-->

  <div class="dataWebDev">
    <div class="sec2">
      <div class="ann_cont topLabelDev">
        <mat-icon>code</mat-icon>
        <p class="ann gradientText animService">{{ "WebDev.subTitleWebDev"|translate }}</p>
      </div>
      <h2 class="title dataWebDevServiceTitle ">{{ "Toolbar.dev_web"|translate }}</h2>
      <p class="desc mt1 dataWebDevServiceDesc">{{ "WebDev.WebDevTitle"|translate }}</p>
      <div class="sec2Inner inner2Anim">
        <ul>
          <li><p>{{ "WebDev.branding"|translate }}</p></li>
          <li><p>{{ "WebDev.ux"|translate }}</p></li>
          <li><p>{{ "WebDev.automation"|translate }}</p></li>
          <li><p>{{ "WebDev.profits"|translate }}</p></li>
          <li><p>{{ "WebDev.markets"|translate }}</p></li>
        </ul>
      </div>

      <button class="animBtn webDevAnim learn-more">
        <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
        <span class="button-text">{{ "Common.learnMore" |translate }}</span>
      </button>
    </div>

    <div class="sec1">
      <!--      <div class="dev_square"></div>-->
      <img class="code_switch" ngSrc="code_switch.webp" alt="" width="width" height="height"
           sizes="(max-width: 400px) 440px, (max-width: 1200px) 440px, 440px"/>
    </div>
  </div>
</section>
