<section class="successCont">

  <div class="successGrid">
    <!-- PLANIFICATION -->
    <div class="successGridItem gBox2">
      <div class="centerFlexItems successGridHeader">
        <img ngSrc="success_layout.webp" sizes="(max-width: 400px) 5rem, (max-width: 1200px) 6.5rem, 3.5rem"
             width="width" height="height" class="scImg" alt="">
        <h3>{{ "success.cTitle1" | translate }}</h3>
      </div>
      <p class="success_p">{{ "success.cDesc1" | translate }}</p>
    </div>

    <!--COSTS-->
    <div class="successGridItem gBox2">
      <div class="centerFlexItems successGridHeader">
        <img ngSrc="success_incomes.webp" sizes="(max-width: 400px) 5rem, (max-width: 1200px) 6.5rem, 3.5rem"
             width="width" height="height" class="scImg" alt="">
        <h3>{{ "success.cTitle2" | translate }}</h3>
      </div>
      <p class="success_p mt-4">{{ "success.cDesc2" | translate }}</p>
    </div>

    <!--PERFORMANCE-->
    <div class="successGridItem gBox2">
      <div class="centerFlexItems successGridHeader">
        <img ngSrc="success_performance.webp" sizes="(max-width: 400px) 5rem, (max-width: 1200px) 6.5rem, 3.5rem"
             width="width" height="height" class="scImg" alt="">
        <h3>{{ "success.cTitle3" | translate }}</h3>
      </div>
      <p class="success_p mt-4">{{ "success.cDesc3" | translate }}</p>
    </div>

    <!--COMMUNICATION-->
    <div class="successGridItem gBox2">
      <div class="centerFlexItems successGridHeader">
        <img ngSrc="success_dialog.webp" sizes="(max-width: 400px) 32px, (max-width: 1200px) 48vw, 38px" width="width"
             height="height" class="scImg" alt="">
        <h3>{{ "success.cTitle4" | translate }}</h3>
      </div>
      <p class="success_p mt-4">{{ "success.cDesc4" | translate }}</p>
    </div>

    <!--ADMINISTRATION-->
    <div class="successGridItem gBox2">
      <div class="centerFlexItems successGridHeader">
        <img ngSrc="success_settings.webp" sizes="(max-width: 400px) 32px, (max-width: 1200px) 48vw, 38px" width="width"
             height="height" class="scImg" alt="">
        <h3>{{ "success.cTitle4" | translate }}</h3>
      </div>
      <p class="success_p mt-4">{{ "success.cDesc5" | translate }}</p>
    </div>
  </div>

  <div class="successHeader">
    <p class="ann_cont success_main_p gradientText2 font-bold">{{ "success.subtitle" | translate }}</p>
    <h3 class="success_main_h3">{{ "success.title1" | translate }} <span
      class="gradientText">{{ "success.title2" | translate }}</span> {{ "success.title3" | translate }}.</h3>
    <p class="success_main_p">{{ "success.desc1" | translate }}</p>

  </div>
</section>
