<section class="webDevCont">
  @defer (on viewport) {
    <app-main-header/>
  } @placeholder {
    <app-loader/>
  }
  @defer (on viewport) {
    <app-web-dev-introduce/>
  } @placeholder {
    <app-loader/>
  }
  @defer (on viewport) {
    <app-success/>
  } @placeholder {
    <app-loader/>
  }
  @defer (on viewport) {
    <app-web-service/>
  } @placeholder {
    <app-loader/>
  }
  @defer (on viewport) {
    <app-transform-vision/>
  } @placeholder {
    <app-loader/>
  }
  @defer (on viewport) {
    <app-contact/>
  } @placeholder {
    <app-loader/>
  }
  @defer (on viewport) {
    <app-technos/>
  } @placeholder {
    <app-loader/>
  }
  @defer (on viewport) {
    <app-footer/>
  } @placeholder {
    <app-loader/>
  }
</section>
