<section class="webServicesCont">

  <div class="webServiceItem">
    <img ngSrc="web_service_landing_page.webp" sizes="100%" width="width" height="height" class="wsImg" alt=""/>

    <div class="wsMetric">
      <h3>{{ "webServices.lp.mTitle"|translate }}</h3>
      <p>{{ "webServices.lp.mDesc"|translate }}</p>
    </div>
  </div>

  <div class="webServiceItem">
    <p class="ann_cont annPurple">{{ "webServices.lp.slogan"|translate }}</p>
    <div class="centerFlexItems wsTitle">
      <h2 class="">Landing Page</h2>
    </div>
    <p>{{ "webServices.lp.desc1"|translate }}</p>
    <p>{{ "webServices.lp.desc2"|translate }}</p>
    <p>{{ "webServices.lp.desc3"|translate }}</p>
  </div>

  <div class="webServiceItem">
    <img
      ngSrc="web_service_web_sites.webp"
      sizes="100%"
      width="width"
      height="height"
      class="wsImg" alt=""/>

    <div class="wsMetric">
      <h3>{{ "webServices.ws.mTitle"|translate }}</h3>
      <p>{{ "webServices.ws.mDesc"|translate }}</p>
    </div>
  </div>

  <div class="webServiceItem">
    <p class="ann_cont annBlue">{{ "webServices.ws.slogan"|translate }}</p>
    <div class="centerFlexItems wsTitle">
      <h2 class="">Web sites</h2>
    </div>
    <p>{{ "webServices.ws.desc1"|translate }}</p>
    <p>{{ "webServices.ws.desc2"|translate }}</p>
  </div>

  <div class="webServiceItem">
    <img
      ngSrc="web_service_ecommerce.webp"
      sizes="100%"
      width="width"
      height="height"
      class="wsImg" alt=""/>

    <div class="wsMetric">
      <h3>{{ "webServices.eCom.mTitle"|translate }}</h3>
      <p>{{ "webServices.eCom.mDesc"|translate }}</p>
    </div>
  </div>

  <div class="webServiceItem">
    <p class="ann_cont annGreen">{{ "webServices.eCom.slogan"|translate }}</p>
    <div class="centerFlexItems wsTitle">
      <h2 class="">E-commerce</h2>
    </div>
    <p>{{ "webServices.eCom.desc1"|translate }}</p>
    <p>{{ "webServices.eCom.desc2"|translate }}</p>
    <p>{{ "webServices.eCom.desc3"|translate }}</p>
  </div>

  <div class="webServiceItem">
    <img ngSrc="web_service_web_apps.webp" sizes="100%" width="width" height="height" class="wsImg" alt=""/>

    <div class="wsMetric ">
      <h3>{{ "webServices.wa.mTitle"|translate }}</h3>
      <p>{{ "webServices.wa.mDesc"|translate }}</p>
    </div>
  </div>

  <div class="webServiceItem">
    <p class="ann_cont annYellow">{{ "webServices.wa.slogan"|translate }}</p>
    <div class="centerFlexItems wsTitle">
      <h2 class="">Web-apps</h2>
    </div>
    <p>{{ "webServices.wa.desc1"|translate }}</p>
    <p>{{ "webServices.wa.desc2"|translate }}</p>
    <p>{{ "webServices.wa.desc3"|translate }}</p>
  </div>

</section>
