<section class="contClients">
  <h2 class="clients_h2">
    {{ "Clients.title1"|translate }} <span class="gradientText">{{ "Clients.title2"|translate }}</span>.
    <div class="maskClients"></div>
  </h2>
  <div class="clientsIcs">

    <div class="logosImgs">
      <img
        ngSrc="glam_logo.webp"
        sizes="(max-width: 400px) 150px, (max-width: 1200px) 300px, 600px"
        class="world glam_logo" alt="" width="width" height="height"/>
    </div>

    <div class="logosImgs">
      <img
        ngSrc="heter_logo.webp"
        sizes="(max-width: 400px) 150px, (max-width: 1200px) 300px, 500px"
        class="world heter_logo" alt="" width="width" height="height"/>
    </div>

    <div class="logosImgs">
      <img
        ngSrc="nox_logo.webp"
        sizes="(max-width: 400px) 150px, (max-width: 1200px) 300px, 500px"
        class="world nox_logo" alt="" width="width" height="height"/>
    </div>

    <div class="logosImgs">
      <img
        ngSrc="m_consciencia_logo.webp"
        sizes="(max-width: 400px) 150px, (max-width: 1200px) 300px, 500px"
        class="world m_consciencia_logo" alt="" width="width" height="height"/>
    </div>

    <div class="logosImgs">
      <img
        ngSrc="krissa_logo.webp"
        sizes="(max-width: 400px) 150px, (max-width: 1200px) 300px, 500px"
        class="world" alt="" width="width" height="height"/>
    </div>

    <div class="logosImgs">
      <img
        ngSrc=""
        sizes="(max-width: 400px) 150px, (max-width: 1200px) 300px, 500px"
        class="world" alt="" width="width" height="height"/>
    </div>
  </div>
</section>
