
<section class="headerDataRoute">
  <img
    ngSrc="lines_map.webp"
    sizes="(max-width: 400px) 100vw, (max-width: 1200px) 85vw, 100vw"
    width="width"
    height="height"
    class="headerRouteImg" alt="" />

  <section class="headerRouteDat">
    <div class="ann_cont_Route"><h2 class="header_h1_Route gradientText">404 Page</h2></div>
    <h2 class="header_h2_Route">{{"notFound.title"|translate}}</h2>
    <p class="header_p_Route">{{"notFound.desc"|translate}}</p>

    <div class="centerFlexItems __404_routes">
      <button mat-button class="blueButton"><p>{{"Toolbar.home"|translate}}</p></button>
      <button mat-button class="blueButton"><p>{{"Toolbar.portfolio"|translate}}</p></button>

    </div>
  </section>

</section>
