<section class="whyUsCont centerFlexItems">
  <div class="whyUsImgCont centerFlexItems">
    <img
      ngSrc="pc_mobile_design.webp"
      sizes="(max-width: 767px) 40vw, 35vw "
      width="width"
      height="height"
      class="whyUsImg" alt=""/>
  </div>

  <div class="whyUsDatCont">

    <div class="itemWhyUs">
      <h2 class="routeTitleH5 gradientText3">{{ "About.us.title"|translate }}
        <div class="maskText"></div>
      </h2>
      <p class="">{{ "About.us.desc1"|translate }}</p>
      <p class="">{{ "About.us.desc2"|translate }}</p>
    </div>

    <div class="itemWhyUs">

      <div class="itemWhyUsInner centerFlexItems">
        <div class="subIcCont centerFlexItems b">
          <mat-icon class="centerFlexItems">emoji_objects</mat-icon>
        </div>
        <h3>{{ "About.us.t1"|translate }}</h3>
      </div>

      <p>{{ "About.us.d1"|translate }}e</p>
    </div>

    <div class="itemWhyUs">
      <div class="itemWhyUsInner centerFlexItems">
        <div class="subIcCont centerFlexItems y">
          <mat-icon class="centerFlexItems">tune</mat-icon>
        </div>
        <h3>{{ "About.us.t2"|translate }}</h3>
      </div>

      <p>{{ "About.us.d2"|translate }}</p>
    </div>

    <div class="itemWhyUs">
      <div class="itemWhyUsInner centerFlexItems">
        <div class="subIcCont centerFlexItems g">
          <mat-icon class="centerFlexItems">hourglass_empty</mat-icon>
        </div>
        <h3>{{ "About.us.t3"|translate }}</h3>
      </div>

      <p>{{ "About.us.d3"|translate }}</p>
    </div>

    <div class="itemWhyUs">
      <div class="itemWhyUsInner centerFlexItems">
        <div class="subIcCont centerFlexItems p">
          <mat-icon class="centerFlexItems">database</mat-icon>
        </div>
        <h3>{{ "About.us.t4"|translate }}</h3>
      </div>

      <p>{{ "About.us.d4"|translate }}</p>
    </div>

  </div>
</section>
