<div class="cBusiness">

  <div class="cBusiness_data">
    <div class="annCont"><h1 class="ann_cont gradientText">{{ "ConsultingService.subtitle"|translate }}</h1></div>
    <h2>{{ "ConsultingService.title"|translate }}</h2>
    <p>{{ "ConsultingService.desc"|translate }}</p>

    <div class="benefits">
      <p>{{ "ConsultingService.q1"|translate }}</p>

      <ul class="benefitsList">
        <li class="itemBenefit">
          <p><strong>{{ "ConsultingService.i1a"|translate }}</strong> {{ "ConsultingService.i1b"|translate }}</p>
        </li>
        <li class="itemBenefit">
          <p><strong>{{ "ConsultingService.i2a"|translate }}</strong> {{ "ConsultingService.i2b"|translate }}</p>
        </li>
        <li class="itemBenefit">
          <p><strong>{{ "ConsultingService.i3a"|translate }}</strong> {{ "ConsultingService.i3b"|translate }}</p>
        </li>
        <li class="itemBenefit">
          <p><strong>{{ "ConsultingService.i4a"|translate }}</strong> {{ "ConsultingService.i4b"|translate }}</p>
        </li>
        <li class="itemBenefit">
          <p><strong>{{ "ConsultingService.i5a"|translate }}</strong> {{ "ConsultingService.i5b"|translate }}</p>
        </li>
        <li class="itemBenefit">
          <p><strong>{{ "ConsultingService.i6a"|translate }}</strong> {{ "ConsultingService.i6b"|translate }}</p>
        </li>
      </ul>

    </div>
  </div>

  <div class="cBusiness_Img">
    <img
      ngSrc="phone_front.webp"
      sizes="(max-width: 400px) 10%, (max-width: 1200px) 15%, 20%"
      width="width"
      height="height"
      class="" alt=""/>
  </div>

</div>
