<section class="webDesService">
  <img class="lines" ngSrc="lines.webp" alt="" width="width" height="height"
       sizes="100vw"/>

  <div class="dataWebService">
    <div class="sec1">
      <img class="mockup_e-commerce" ngSrc="mockup_e_commerce.webp" alt="" width="width" height="height"
           sizes="(max-width: 400px) 440px, (max-width: 1200px) 440px, 440px"/>
      <img class="mockup_e-commerce1" ngSrc="mockup_e_commerce_1.webp" alt="" width="width" height="height"
           sizes="(max-width: 400px) 440px, (max-width: 1200px) 440px, 440px"/>
      <img class="mockup_e-commerce2" ngSrc="mockup_e_commerce_2.webp" alt="" width="width" height="height"
           sizes="(max-width: 400px) 440px, (max-width: 1200px) 440px, 440px"/>
    </div>

    <div class="sec2">
      <div class="ann_cont topLabelServ">
        <mat-icon>draw</mat-icon>
        <p class="ann gradientText animService">{{ "WDesign.subTitleWDesign"|translate }}</p>
      </div>
      <h2 class="wdTitle">{{ "WDesign.title"|translate }}</h2>
      <p class="wdDesc">{{ "WDesign.desc"|translate }}</p>
      <div class="sec2Inner inner2AnimServ">
        <div class="sec2InnerA centered">
          <p class="sec2InnerTittle">Profit</p>
          <img class="sec2InnerTittleImg" ngSrc="profit_graph.webp" alt="" width="width" height="height"
               sizes="(max-width: 400px) 90px, (max-width: 1200px) 350px, 100px"/>
        </div>
        <div class="divider"></div>
        <div class="sec2InnerB centered">
          <p class="sec2InnerTittle">Rating</p>
          <img class="sec2InnerTittleImg2" ngSrc="ranking_stars.webp" alt="" width="width" height="height"
               sizes="(max-width: 400px) 100px, (max-width: 1200px) 200px, 100px"/>
        </div>
      </div>
      <!--      <button mat-flat-button class="mt1 blueButton"><h2>Learn more</h2></button>-->
      <button class="animBtn webServAnim learn-more">
        <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
        <span class="button-text">{{ "Common.learnMore"|translate }}</span>
      </button>
    </div>
  </div>
</section>
