<div class="needsCont">
  <div class="needItem">
    <div class="needs_img_cont">
      <img class="needs_img" ngSrc="e-commerce.webp" alt="e-commerce codeli service" width="width" height="height"
           sizes="(max-width: 400px) 100px, (max-width: 1200px) 180px, 120px">
    </div>

    <h2>{{ "ConsultingNeeds.t1"|translate }}</h2>
    <p>{{ "ConsultingNeeds.d1"|translate }}.</p>
  </div>

  <div class="needItem">
    <div class="needs_img_cont">
      <img class="needs_img" ngSrc="pc.webp" alt="Improve process codeli service" width="width" height="height"
           sizes="(max-width: 400px) 100px, (max-width: 1200px) 180px, 120px">
    </div>

    <h2>{{ "ConsultingNeeds.t2"|translate }}</h2>
    <p>{{ "ConsultingNeeds.d2"|translate }}.</p>
  </div>

  <div class="needItem">
    <div class="needs_img_cont">
      <img class="needs_img" ngSrc="architecture.webp" alt="Optimization Codeli Service" width="width" height="height"
           sizes="(max-width: 400px) 100px, (max-width: 1200px) 180px, 120px">
    </div>

    <h2>{{ "ConsultingNeeds.t3"|translate }}</h2>
    <p>{{ "ConsultingNeeds.d3"|translate }}.</p>
  </div>

  <div class="needItem">
    <div class="needs_img_cont">
      <img class="needs_img" ngSrc="quality.webp" alt="Support Codeli Service" width="width" height="height"
           sizes="(max-width: 400px) 100px, (max-width: 1200px) 180px, 120px">
    </div>

    <h2>{{ "ConsultingNeeds.t4"|translate }}</h2>
    <p>{{ "ConsultingNeeds.d4"|translate }}.</p>
  </div>
</div>
