<section class="headerDataRoute">
  <img
    ngSrc="globe.webp"
    sizes="(max-width: 400px) 100vw, (max-width: 1200px) 85vw, 100vw"
    width="width"
    height="height"
    class="headerRouteImg" alt=""/>

  <section class="headerRouteDat">
    <div class="ann_cont_Route"><h2 class="header_h1_Route gradientText2">{{ "_WebConsulting.slogan" | translate }}</h2>
    </div>
    <h2 class="header_h2_Route"><span
      class="gradientText"> {{ "_WebConsulting.title2" | translate }} </span> {{ "_WebConsulting.title3" | translate }}.
    </h2>
    <p class="header_p_Route">{{ "_WebConsulting.desc1" | translate }}</p>
  </section>

</section>
