<div class="codeliMetricCont centerFlexItems">

  <div class="annCont">
    <h1 class="gradientText">{{ "metrics.subtitle"|translate }}</h1>
  </div>

  <div class="resumeCodeliMetrics">
    <h2>{{ "metrics.resumeT"|translate }}</h2>
    <p>{{ "metrics.resumeD"|translate }}</p>
  </div>

  <div class="metricsCodeli centerFlexItems">
    <div class="metric">
      <h2>+50%</h2>
      <p>{{ "metrics.metric1"|translate }}</p>
    </div>
    <div class="metric">
      <h2>+5</h2>
      <p>{{ "metrics.metric2"|translate }}</p>
    </div>
    <div class="metric">
      <h2>+15</h2>
      <p>{{ "metrics.metric3"|translate }}</p>
    </div>
    <div class="metric">
      <h2>+20</h2>
      <p>{{ "metrics.metric4"|translate }}</p>
    </div>
  </div>
</div>
