<section class="uiuxCont">
  @defer (on viewport) {
    <app-main-header/>
  } @placeholder {
    <app-loader/>
  }
  @defer (on viewport) {
    <app-ui-ux-introduce/>
  } @placeholder {
    <app-loader/>
  }
  @defer (on viewport) {
    <app-wireframing/>
  } @placeholder {
    <app-loader/>
  }
  @defer (on viewport) {
    <app-user-based-design/>
  } @placeholder {
    <app-loader/>
  }
  @defer (on viewport) {
    <app-ui-ux-avantages/>
  } @placeholder {
    <app-loader/>
  }
  <!--  @defer (on viewport){<app-ui-ux-counters/>} @placeholder {<app-loader/>}-->
  @defer (on viewport) {
    <app-contact/>
  } @placeholder {
    <app-loader/>
  }
  @defer (on viewport) {
    <app-footer></app-footer>
  } @placeholder {
    <app-loader/>
  }
</section>

