<div class="visionCont">

  <img class="vTransformImg" ngSrc="rocket_big.webp"
       loading="lazy" alt="" width="width" height="height"
       sizes="(max-width: 400px) 20vw, (max-width: 1200px) 30vw, 25vw"/>

  <div class="vData">

    <div class="centerFlexItems vDataHeader">
      <p class="ann_cont ann_cont2">{{ "vision.subtitle"|translate }}</p>
      <h2>{{ "vision.title1"|translate }} <span
        class="gradientText">{{ "vision.title2"|translate }}</span> <br/>
        {{ "vision.title3"|translate }} <span
          class="gradientText">{{ "vision.title4"|translate }}</span></h2>
    </div>

    <div class="vDataGrid">
      <div class="vDataItem">
        <mat-icon class="gradientText">terminal</mat-icon>
        <h3>{{ "vision.soft"|translate }}</h3>
        <p>{{ "vision.softDesc"|translate }}</p>
      </div>

      <div class="vDataItem">
        <mat-icon class="gradientText2">tune</mat-icon>
        <h3>{{ "vision.QA"|translate }}</h3>
        <p>{{ "vision.QADesc"|translate }}</p>
      </div>

      <div class="vDataItem">
        <mat-icon class="gradientText3">brush</mat-icon>
        <h3>{{ "vision.UX"|translate }}</h3>
        <p>{{ "vision.UXDesc"|translate }}</p>
      </div>

      <div class="vDataItem">
        <mat-icon class="gradientText">smartphone</mat-icon>
        <h3>{{ "vision.App"|translate }}</h3>
        <p>{{ "vision.AppDesc"|translate }}</p>
      </div>
    </div>
  </div>
</div>
