<div class="socialProofMain">
  <h2 class="socialProof_h2">{{ "socialProof.title1"|translate }} <span
    class="gradientText">{{ "socialProof.title2"|translate }}</span> {{ "socialProof.title3"|translate }} <span
    class="gradientText">{{ "socialProof.title4"|translate }}</span>.</h2>

  <div class="socialProof_Comms">
    <div class="_comms">
      <div class="innerComm">
        <p class="comm">{{ "socialProof.comms.glam"|translate }}</p>
        <div class="commPersonCont">
          <img class="commPersonImg" ngSrc="glam_logo.webp" width="width" height="height" sizes="2.5rem">
          <div class="commPersonInner">
            <h4>Gabriela Galindo</h4>
            <p>Glam Beauty Salon</p>
          </div>
        </div>
      </div>
    </div>

    <div class="_comms">
      <div class="innerComm">
        <p class="comm">{{ "socialProof.comms.nox"|translate }}</p>
        <div class="commPersonCont">
          <img class="commPersonImg" ngSrc="nox_logo.webp" width="width" height="height" sizes="2.5rem">
          <div class="commPersonInner">
            <h4></h4>
            <p>Nox46</p>
          </div>
        </div>
      </div>
    </div>

    <div class="_comms">
      <div class="innerComm">
        <p class="comm">{{ "socialProof.comms.krissa"|translate }}</p>
        <div class="commPersonCont">
          <img class="commPersonImg" ngSrc="krissa_logo.webp" width="width" height="height" sizes="2.5rem">
          <div class="commPersonInner">
            <h4></h4>
            <p>Krissa</p>
          </div>
        </div>
      </div>
    </div>

    <div class="_comms">
      <div class="innerComm">
        <p class="comm">Craig was awesome. He asked great discovery questions and took time to understand my challenges
          and </p>

        <div class="separator"></div>

        <div class="commPersonCont">
          <img class="commPersonImg" ngSrc="heter_logo.webp" width="width" height="height" sizes="2.5rem">
          <div class="commPersonInner">
            <h4>Edgar Luis</h4>
            <p>Heter Group</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
