<section class="advantagesCont">
  <!--    1-->
  <div class="advantageItem">
    <h3 class="text-4xl boxH2">{{ "uiux.advent.ta1"|translate }} <span
      class="gradientText">{{ "uiux.advent.ta2"|translate }}</span>.</h3>
    <p class="mt-8 boxP">{{ "uiux.advent.da1"|translate }}<br/><br/></p>
    <p class="mt-8 boxP">{{ "uiux.advent.da2"|translate }}<br/><br/></p>
    <p class="mt-8 boxP">{{ "uiux.advent.da3"|translate }}</p>
  </div>
  <!--    2-->
  <div class="advantageItem advantageImgCont">
    <img ngSrc="profits.webp" class="advantageImg" height="height" width="width"
         sizes="(max-width: 400px) 100vw, (max-width: 1200px) 50vw, 45vw">
  </div>
  <!--    3-->
  <div class="advantageItem">
    <h3 class="boxH2"><span
      class="gradientText">{{ "uiux.advent.tb1"|translate }}</span> {{ "uiux.advent.tb2"|translate }} <span
      class="gradientText">{{ "uiux.advent.tb3"|translate }}</span> {{ "uiux.advent.tb4"|translate }}.</h3>
    <p class="boxP">{{ "uiux.advent.db1"|translate }}<br/><br/></p>
    <p class="boxP">{{ "uiux.advent.db2"|translate }}</p>

    <div class="advantageImgCont">
      <img ngSrc="ratings.webp" class="" height="height" width="width"
           sizes="(max-width: 400px) 100vw, (max-width: 1200px) 50vw, 45vw">
    </div>
  </div>
  <!--    4-->
  <div class="advantageItem">
    <h3 class="text-4xl boxH2"><span
      class="gradientText">{{ "uiux.advent.tc1"|translate }}</span> {{ "uiux.advent.tc2"|translate }}.</h3>
    <p class="mt-8 boxP">{{ "uiux.advent.dc1"|translate }}<br/><br/></p>
    <p class="mt-8 boxP">{{ "uiux.advent.dc2"|translate }}</p>

    <div class="advantageImgCont">
      <img ngSrc="web_design.webp" class="" height="height" width="width"
           sizes="(max-width: 400px) 100vw, (max-width: 1200px) 50vw, 45vw">
    </div>
  </div>
  <!--    5-->
  <div class="advantageItem">
    <h3 class="text-4xl boxH2">{{ "uiux.advent.td1"|translate }} <span
      class="gradientText">{{ "uiux.advent.td2"|translate }}</span>.</h3>
    <p class="mt-8 boxP">{{ "uiux.advent.dd1"|translate }}</p>
    <p class="mt-8 boxP">{{ "uiux.advent.dd2"|translate }}</p>
  </div>
  <!--    6-->
  <div class="advantageItem advantageImgCont">
    <img ngSrc="ui_ux_styles.webp" class="" height="height" width="width"
         sizes="(max-width: 400px) 100vw, (max-width: 1200px) 50vw, 45vw">
  </div>
</section>
